h2 {
    padding-left: 2em;
    background: white url("./images/cuke_capybara_mini.png") no-repeat;
}

h3 {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

blockquote {
    font-size: smaller;
    border: 1px solid #888888;
    padding: 0.3em;
    margin: 1em;
    width: 90%;
}

pre {
    font-size: smaller;
    margin: 1em;
    padding: 0.5em;
    border: 1px solid black;
}

div.centering {
    text-align: center;
    font-size: larger;
}

li {
    padding: 0.3em 0;
}

td {
    font-size: x-large;
    width: 100%;
}